<!DOCTYPE html>
<html lang="en" ng-app="listPhone">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/listPhoneCtrl.js"></script>
    <script src="js/services/contactsAPIService.js"></script>
    <script src="js/services/operatorsAPIService.js"></script>
    <script src="js/value/configValue.js"></script>
    <script src="js/services/serialGenerateService.js"></script>
    <script src="js/config/serialGeneratorConfig.js"></script>
    <script src="js/filter/nameFilter.js"></script>
    <script src="js/filter/ellipsisFilter.js"></script>

    <!-- ERRO CORS -->
    <script src="js/directives/uiAlertDirective.js"></script>
    <script src="js/directives/uiDateDirective.js"></script>
    <script src="js/directives/uiAccordionDirective.js"></script>

</head>

<body ng-controller="listPhoneCtrl">
    <div class="jumbotron">

        <ui-accordions>
            <ui-accordion title="Accordion 1">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old
            </ui-accordion>
            <ui-accordion title="Accordion 2">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </ui-accordion>
            <ui-accordion title="Accordion 3">
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </ui-accordion>
            <ui-accordion title="Accordion 4">
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
            </ui-accordion>
            <ui-accordion title="Accordion 5">
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </ui-accordion>
        </ui-accordions>

        <hr>

        <h3>{{app}}</h3>
        <!-- {{$id}} -->
        <!-- {{contacts}} -->

        <!-- ERRO CORS -->
        <!-- <ui-alert title="Ops, aconteceu um problema!">
            Não foi possível carregar os dados!
        </ui-alert> -->
        <!-- <ui-alert></ui-alert> -->

        <!-- <div class="ui-alert">
            <div class="ui-alert-title">
                Ops, aconteceu um problema! {{$id}}
            </div>
            <div class="ui-alert-message">
                {{error}}
            </div>
        </div> -->

        <input class="form-control" type="text" ng-model="criteriaSearch" placeholder="O que você busca?">
        <table ng-show="contacts.length > 0" class="table">
            <tr>
                <th></th>
                <!-- <th>Serial</th> -->
                <th><a href="" ng-click="orderBy('name')">Nome</a></th>
                <th><a href="" ng-click="orderBy('phone')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
            </tr>
            <tr ng-class="{'selected bold': contact.selected}"
                ng-repeat="contact in contacts | filter:criteriaSearch | orderBy:criteriaOrdering:orderingDirection">
                <!-- /*| limitTo:2*/ -->
                <td><input type="checkbox" ng-model="contact.selected"></td>
                <!-- <td>{{contact.serial}}</td> -->
                <td>{{contact.name | name | ellipsis:10}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.operator.name | lowercase}}</td>
                <td>{{contact.date | date:'EEEE dd/MM/yyyy HH:mm'}}</td>
                <!-- <td ng-repeat="(key, value) in contact">
                    {{key + '-' + value}}
                </td> -->
                <td>
                    <div style="width: 20px; height: 20px" ng-style="{'background-color': contact.color}"></div>
                </td>
            </tr>
        </table>
        <hr />

        <!-- RUIM E MEDIA -->
        <!-- <input class="form-control" type="text" ng-model="name" placeholder="Nome" />
        <input class="form-control" type="text" ng-model="phone" placeholder="Telefone" /> -->

        <!-- É válido: {{contactForm.$valid}}<br>
        É inválido: {{contactForm.$invalid}} -->

        <form name="contactForm">
            <input class="form-control" type="text" ng-model="contact.name" name="name" placeholder="Nome"
                ng-required="true" ng-minlength="10" />
            <input class="form-control" type="text" ng-model="contact.phone" name="phone" placeholder="Telefone"
                ng-required="true" ng-minlength="10" ng-pattern="/^\d{4,5}-\d{4}$/" />
            <input class="form-control" type="text" ng-model="contact.date" name="date" placeholder="Data" ui-date>
            <select class="form-control" ng-model="contact.operator"
                ng-options="operator.name + ' (' + (operator.price | currency) + ') ' for operator in operators | orderBy:'name'">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <!-- RUIM
        <button class="btn btn-primary btn-block" ng-click="addContact()">Adicionar Contato</button> -->

        <!-- MEDIA -->
        <!-- <button class="btn btn-primary btn-block" ng-click="addContact(name, phone)">Adicionar Contato</button> -->

        <div ng-show="contactForm.name.$error.required && contactForm.name.$dirty" class="alert alert-danger">
            Por favor, preencha o campo nome.
        </div>
        <div ng-show="contactForm.name.$error.minlength" class="alert alert-danger">
            O campo nome deve ter no minimo 10 caracteres.
        </div>

        <div ng-show="contactForm.phone.$error.required && contactForm.phone.$dirty" class="alert alert-danger">
            Por favor, preencha o campo telefone.
        </div>
        <div ng-show="contactForm.phone.$error.pattern" class="alert alert-danger">
            O campo telefone deve ter o formato 99999-9999
        </div>

        <!-- <div ng-messages="contactForm.name.$error" class="alert alert-danger">

            <div ng-message="required">
                Por favor, preencha o campo nome.
            </div>
            <div ng-mesasage="minlength">
                O campo nome deve ter no minimo 10 caracteres.
            </div>

            <div ng-show="required && contactForm.phone.$dirty" class="alert alert-danger">
                Por favor, preencha o campo telefone.
            </div>
            <div ng-show="contactForm.phone.$error.pattern" class="alert alert-danger">
                O campo telefone deve ter o formato 99999-9999
            </div>

        </div> -->

        <!-- BOA -->
        <button class="btn btn-primary btn-block" ng-click="addContact(contact)"
            ng-disabled="contactForm.$invalid">Adicionar Contato</button>

        <button class="btn btn-danger btn-block" ng-click="deleteContact(contacts)"
            ng-show="isSelectedContact(contacts)">Apagar contatos</button>
        <!-- ng-disabled="!isSelectedContact(contacts)" -->

        <!-- {{name}}
        {{phone}} -->
    </div>

    <div ng-include="'view/footer.html'"></div>

</body>

</html>