<!DOCTYPE html>
<html lang="en" ng-app="listPhone">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .table {
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 5px;
        }

        .selected {
            background-color: yellow;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script>
        angular.module("listPhone", []);
        angular.module("listPhone").controller("listPhoneCtrl", function ($scope) {
            $scope.app = "Lista Telefonica";
            $scope.contacts = [
                { name: "Maycon", phone: "111111111" },
                { name: "Eloisa", phone: "222222222" },
                { name: "Schirley", phone: "333333333" }
            ];

            // RUIM
            // $scope.addContact = function () {
            //     $scope.contacts.push({ name: $scope.name, phone: $scope.phone })
            // }

            // MEDIA
            // $scope.addContact = function (name, phone) {
            //     $scope.contacts.push({ name: name, phone: phone })
            // }

            // BOA
            $scope.addContact = function (contact) {
                $scope.contacts.push(angular.copy(contact));
                delete $scope.contact;
            }

            $scope.operators = [
                { name: "Oi", codigo: 14, category: "Celular" },
                { name: "Vivo", codigo: 15, category: "Celular" },
                { name: "Tim", codigo: 41, category: "Celular" },
                { name: "GVT", codigo: 25, category: "Fixo" },
                { name: "Embratel", codigo: 21, category: "Fixo" },
            ];

            $scope.deleteContact = function (contacts) {

                $scope.contacts = contacts.filter(function (contact) {
                    if (!contact.selected) return contact;
                });
            };

            // $scope.isSelectedContact = function (contacts) {
            //     var isSelectedContact = contacts.some(function (contact) {
            //         return contact.selected;
            //     });
            // };

        });
    </script>
</head>

<body ng-controller="listPhoneCtrl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <!-- {{contacts}} -->
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <td>Operadora</td>
            </tr>
            <tr ng-class="{'selected bold': contact.selected}" ng-repeat="contact in contacts">
                <td><input type="checkbox" ng-model="contact.selected"></td>
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.operator.name}}</td>
                <!-- <td ng-repeat="(key, value) in contact">
                    {{key + '-' + value}}
                </td> -->
            </tr>
        </table>
        <hr />

        <!-- RUIM E MEDIA -->
        <!-- <input class="form-control" type="text" ng-model="name" placeholder="Nome" />
        <input class="form-control" type="text" ng-model="phone" placeholder="Telefone" /> -->

        {{contact}}
        <input class="form-control" type="text" ng-model="contact.name" placeholder="Nome" />
        <input class="form-control" type="text" ng-model="contact.phone" placeholder="Telefone" />
        <select class="form-control" ng-model="contact.operator" ng-options="operator.name for operator in operators">
            <option value="">Selecione uma operadora</option>
        </select>

        <!-- RUIM
        <button class="btn btn-primary btn-block" ng-click="addContact()">Adicionar Contato</button> -->

        <!-- MEDIA -->
        <!-- <button class="btn btn-primary btn-block" ng-click="addContact(name, phone)">Adicionar Contato</button> -->

        <!-- BOA -->
        <button class="btn btn-primary btn-block" ng-click="addContact(contact)"
            ng-disabled="!contact.name || !contact.phone">Adicionar Contato</button>

        <button class="btn btn-danger btn-block" 
            ng-click="deleteContact(contacts)">Apagar contatos</button>
            <!-- ng-disabled="isSelectedContact(contacts)" -->

        <!-- {{name}}
        {{phone}} -->
    </div>
</body>

</html>